[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --emperor /etc/uwsgi/vassals --uid www --gid www --master --pidfile /var/run/uwsgi.pid
Type=notify
PIDFile=/var/run/uwsgi.pid
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
