
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Site-wide styles */

.site-title,
.site-subtitle,
.main-nav {
    font-family: "Courier New", Courier, monospace;
}
.site-subtitle,
.main-nav a,
.main-nav a:visited,
footer {
    color: #9E792F;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .05em;
    background-color: #222222;
    color: #FFEECE;
}
footer {
    margin-top: 20px;
    padding-top: 10px;
    font-size: .9em;
    margin-bottom: 100px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", "Times New Roman", Times, serif;
    color: #CAA65F;
}
h1 {
    font-size: 2.1em;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.9em;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.5em;
}
hr {
    border-color: #333333;
}
hr.green {
    border-color: #619694;
}
input,textarea {
    color: #F7C6A0 !important;
    background-color: #222222 !important;
}
::-webkit-input-placeholder {
   color: #555 !important;
   opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
   color: #555 !important;
   opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #555 !important;
}
:-ms-input-placeholder {
   color: #555 !important;
}
section p {
    font-size: 1.1em;
    padding: 10px 0;
    line-height: 1.6em;
}

/* Base */

.site-header {
    margin: 30px auto;
}
.site-title {
    font-size: 2.5em;
    margin: 0;
}
.site-subtitle {
    font-size: 1.1em;
}

/* Search */

.search {
    position: relative;
}
.search input {
    text-indent: 17px;
    width: 200px;
    margin-left: 20px;
}
.search .fa-search {
  position: absolute;
  top: 8px;
  left: 30px;
  font-size: 15px;
}
.search_results_string {
    margin-top: -1em;
    padding-bottom: 10px;
    font-size: .9em;
    border-bottom: 1px solid #619694;
}
.search_listing_title {
    color: #CAA65F;
    font-size: 1.3em;
}

/* Links/Nav */

a, a:active, a:focus {
    color: #9EC3C2;
}
a:visited {
    color: #298b83;
}
a:hover,
.main-nav a:hover {
    color: #F7D9A0;
}
a.disabled {
    cursor: default;
    color: #F7D9A0 !important;
    text-decoration: none;
}
.site-title a,
.site-title a:hover {
    color: #CAA65F !important;
    text-decoration: none;
}
.navbar-right {
    margin-right: 0;
}
.nav-inline {
    padding: 0;
}
@media (min-width: 768px) {
    .nav-inline {
        float: right;
    }
}
.nav-inline li {
    list-style: none;
    display: inline;
    padding-right: 15px;
}
.prev_page {
    float: right;
}
.next_page {
    float: left;
}


/* Bootstrap nav overrides */

@media (min-width: 768px) {
    .nav-tabs.nav-justified {
        border-bottom: 1px solid #F7D9A0;
    }
    .nav-tabs.nav-justified > li > a {
        border-bottom: 0;
    }
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #333;
}
.nav-tabs > li > a:hover {
    border-color: #F7D9A0 #F7D9A0 #F7D9A0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #FFE4CE !important;
    background-color: #6C4B0B;
    border: 1px solid #F7D9A0 !important;
    border-bottom: 0 !important;
}

/* Sub Nav */

.sub-nav {
    margin-top: 10px;
}
.social-icons {
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 5px;
    display: inline-block;
}
.social-icons > li {
    margin: 0 !important;
}
.social-icons a {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.facebook:hover {
    background-color: #3B5998 !important;
}
.twitter:hover {
    background-color: #00ACED !important;
}
.googleplus:hover {
    background-color: #D14836 !important;
}
.linkedin:hover {
    background-color: #007FB1 !important;
}
.github:hover {
    background-color: #4183C4 !important;
}
.subscribe:hover {
    background-color: #FF8300 !important;
}

.social-icons a {
    background: url("/static/images/social_icons/social_icons_sprite_32.png");
    background-repeat: no-repeat;
}
a.linkedin {
    background-position: 0 0;
}
a.github {
    background-position: -32px 0;
}
a.facebook {
    background-position: -64px 0;
}
a.twitter {
    background-position: -96px 0;
}
a.googleplus {
    background-position: -128px 0;
}
a.subscribe {
    background-position: -160px 0;
}


/* Home */

.site-header-img {
    height: 250px;
    margin-bottom: 20px;
    border: 2px solid #333333;
    overflow: hidden;
}
.site-header-img h1 {
    position: relative;
    left: -50%;
}
.greeting-wrapper {
    position: absolute;
    left: 50%;
    top: 0;
}
.greeting {
    margin: 0;
    font-size: 3.0em;
    padding-top: 80px;
}

/* Articles */

ul.arrow-collapse {
    padding-left: 1.2em;
    list-style: none;
}
ul.arrow-collapse ul ul {
    list-style: disc;
    padding-left: 0.5em;
}
.arrow-collapse li {
    margin: 0.25em 0;
}
a.arrow-collapse:hover, a.arrow-collapse:active, a.arrow-collapse:focus {
    text-decoration: none;
}
a.arrow-collapse:before {
    content: "▼";
    display: block;
    height: 0;
    width: 0;
    left: -1.2em;
    position: relative;
}
a.collapsed:before {
    content: "►";
}
article {
    margin-bottom: 80px;
}
.photo-credit {
    color: #9E792F;
    margin-top: 20px;
}
.footnotes, .footnotes p {
    color: #666666;
    font-size: .9em;
    padding: 0;
    margin: 0;
}
.post-header-img {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.post-header-img img {
    width: 100%;
    border: 2px solid #333333;
}
.post-body > p:first-of-type:first-letter {
    float: left;
    color: #3A7B78;
    font-size: 5em;
    line-height: .8em;
    padding-right: .05em;
    font-family: Georgia;
    font-weight: normal;
}
.post-body {
    margin-top: 4em;
    clear: both;
    min-height: 4em;
}
.post-info {
    color: #9E792F;
    font-size: .9em;
}
.post-comments {
    margin-top: 30px;
}
.post-footer {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.1em;
    color: #9E792F;
    position: relative;
}
.post-footer .horizontal-bullets {
    margin-top: 1em;
}
.post-footer .social-icons {
    float: right;
}
.comment-body {
    margin-top: 1em;
}
.comment-date, .post-byline {
    font-size: 1em;
    color: #9E792F;
}
.comment-form {
    margin-bottom: 40px;
}
.comment-gravatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.comment-name {
    font-size: 1.2em;
}
.comment-wrapper {
    margin-left: 2em;
    margin-top: 1.5em;
    margin-bottom: 10px;
    border-bottom: 1px solid #619694;
    min-height: 115px;
}
.post-byline {
    margin-top: -1em;
    margin-bottom: 2em;
}
.horizontal-bullets {
    margin: 0;
    padding: 0;
}
.horizontal-bullets > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
}
.horizontal-bullets > li:after {
    padding: 0 .5em;
    margin: 0;
    content: "|";
}
.horizontal-bullets > li:last-child:after {
    content: none;
}

/* Contact */

.btn-send {
    width: 150px;
    margin: 10px 0;
}

/* Utilities */

.rtl {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.hover_text {
    border-bottom: 2px dotted #3A7B78;
    cursor: help;
}
.clear {
    clear: both;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */

    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden .focusable:active,
.visuallyhidden .focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */

        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
	 * Don't show links for images, or javascript/internal links
	 */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
