{% extends "base.html" %}

{% block content %}
<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>404 FLAGRANT SYSTEM ERROR</h2>
        <h3>Everything is fine. Nothing is ruined.</h3>
        <p>However, whatever you were looking for either doesn't exist or something has gone horribly wrong. Go <a href="javascript:history.back()" title="back">back</a> and try clicking something else.</p>
      </div>
    </div><!-- end_row -->
  </div><!-- end_container -->
</section>
{% endblock %}
