{% extends "base.html" %}

{% block content %}
<section class="main-section">
	<div class="container">
		<div class="row">
			<h1 class="col-md-12">About</h1>
		</div><!-- end_row -->

		<div class="row">
			<div class="col-md-7">
				<p>
					Hi. My name is Luke. I reside in Portland, OR working out of a menagerie of coffee shops and pie establishments. I've been tinkering with code since high school (mostly perl at the time) when I first learned what HTML was. Oh, what a journey it has been.
				</p>

				<p>
					I'm still developing mostly in perl these days, but I also dabble in Python and Objective-C in my spare time. Over the years I've developed a borderline addiction to problem solving with many late nights, refusing to go to bed until I was satisfied I had reached an acceptable stopping point.
				</p>

				<p>
					I'm constantly thirsting for new things to learn and more efficient ways to solve problems. I'm excited about emerging technologies and what else I can sink my teeth into. I post articles here to share ideas and spur discussions about code and technology.
				</p>
			</div>
			<!--<div class="col-md-5">
				<img class="img-responsive img-rounded" width="100%" alt="Portrait of Lucas Petherbridge">
			</div>-->
		</div><!-- end_row -->
	</div><!-- end_container -->
</section>
{% endblock %}
