{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<section class="main-section">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12">About</h1>
    </div><!-- end_row -->

    <div class="row">
      <div class="col-md-7">
        <p>Hi. My name is Luke. I reside in sunny Portland, OR. I've been tinkering with code since age 15 when I first learned what HTML was and, oh, what a journey it has been.</p>

        <p>I still work with Perl a lot, but I also dabble in just about everything in my spare time including Python, Javascript, Golang, Rust and even Arduino programming! I love learning new technologies and finding the best tool for the job. I have developed a borderline addiction to problem-solving over the years, with many late nights, refusing to go to bed until I was satisfied I had reached an acceptable solution.</p>

        <p>I am constantly looking for new things to learn and better ways to do things including solving problems for fun and trying out new projects. Emerging technologies, especially things in AI and Machine Learning, excite me and I keep looking for anything I can sink my teeth into. I occasionally post articles to share my projects, ideas with the hope it spurs discussion about code, software practices and technology.</p>
      </div>

      <div class="col-md-5">
        <img src="{% static 'images/about_me.jpg' %}" class="img-responsive img-rounded" alt="Portrait of Lucas Petherbridge">
      </div>
    </div><!-- end_row -->
  </div><!-- end_container -->
</section>
{% endblock %}
