{% extends "base.html" %}

{% block content %}
<section id="main-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			{% for article in articles %}
				<h2>{{ article.title }}</h2>
				<p>{{ article.body }}</p>
				<p>Author: {{ article.author }}</p>
				<p>Category: {{ article.category }}</p>
				<p>Time to Read: {{ article.time_to_read }}</p>
				<p>Created: {{ article.created }}</p>
				<p>Comment Count: {{ article.comments.count }}</p>
				<!-- TODO Tags, Comments -->
			{% endfor %}
			</div>
		</div><!-- end_row -->
		{% url 'articles' as current_url %}
		{% include 'pagination_footer.html' with page='articles' url=current_url %}
	</div><!-- end_container -->
</section>
{% endblock %}
