<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Lucas Petherbridge
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="./assets/styles/normalize.css" type="text/css">
		<link rel="stylesheet" href="./assets/styles/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="./assets/styles/main.css" type="text/css">
	</head>
	<body>
		<main>
			<nav>
				<div class="container">
					<ul class="pull-left nav nav-tabs">
						<li>
							<a href="#">Lucas Petherbridge</a>
						</li>
					</ul>
					<ul class="pull-right nav nav-tabs">
						<li class="active">
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="header">
				<div id="container">
					<p>
						Some text
					</p>
				</div>
			</div>
		</main>
	</body>
</html>
