{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>	   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>{{ page_title }}</title>

    {% if page_description %}<meta name="description" content="{{ page_description }}">{% endif %}
    {% if page_keywords %}<meta name="keywords" content="{{ page_keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lucas Petherbridge">
    <meta name="copyright" content="Lucas Petherbridge">
    <meta name="msapplication-TileColor" content="#D83434">
    <meta name="msapplication-TileImage" content="{% static 'images/icons/tileicon-144.png' %}">

    <link rel="alternate" type="application/atom+xml" href="{% url 'feed' %}" title="Lucas Petherbridge Article Feed"/>
    <link rel="apple-touch-icon" href="{% static 'images/icons/apple-touch-icon-152.png' %}">
    <link rel="icon" href="{% static 'images/icons/favicon-96.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'images/icons/favicon-32.ico' %}"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->

    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "scripts/vendor/jquery-1.10.2.min.js" %}"><\/script>')
    </script>
    <script src="{% static 'scripts/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts/vendor/plugins.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
</head>

<body>

    <main>
        <!--[if lt IE 7]>
				<p class="browsehappy">This website was designed with a modern
                browser in mind. You are currently using an <strong>outdated</strong>
                browser. Please <a href="http://browsehappy.com/">use a modern
                browser</a> to experience this website in its intended form.</p>
			<![endif]-->

        <div class="container site-header">
            <div class="row">
                <header>
                    <div class="navbar-left col-md-7">
                        <h1 class="site-title">
    							<a class="home" href="{% url 'home' %}">
                                    Lucas Petherbridge
                                </a>
    						</h1>
                        <p class="site-subtitle">{{ STRINGS.site_subtitle }}</p>
                    </div>

                    <nav class="site-nav navbar-right col-md-5" role="navigation">
                        <div class="main-nav">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="articles">
                                    <a href="{% url 'articles' %}">Articles</a>
                                </li>
                                <li class="projects">
                                    <a href="{% url 'projects' %}">Projects</a>
                                </li>
                                <li class="about">
                                    <a href="{% url 'about' %}">About</a>
                                </li>
                                <li class="contact">
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-nav">
                            <form action="/" method="get">
                                <div class="search pull-right">
                                    <span class="fa fa-search"></span>
                                    <input type="search" name="q" class="form-control" placeholder="Search">
                                </div>
                            </form>

                            <ul class="social-icons nav nav-pills pull-right">
                                <li>
                                    <a href="{{ URLS.linkedin }}" title="LinkedIn" class="linkedin text-hide">
                                        LinkedIn
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ URLS.github }}" title="GitHub" class="github text-hide">
                                        GitHub
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ URLS.facebook }}" title="Facebook" class="facebook text-hide">
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ URLS.twitter }}" title="Twitter" class="twitter text-hide">
                                        Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ URLS.googleplus }}" title="Google+" class="googleplus text-hide">
                                        Google+
                                    </a>
                                </li>
                                <li>
                                    <a href="{% URLS.feedburner %}" title="Subscribe" class="subscribe text-hide">
                                        Subscribe
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div><!-- end_row -->
        </div><!-- end_container -->

        {% block content %}{% endblock %}

        <div class="container">
            <div class="row">
                <footer>
                    <p class="copyright col-md-4">
                        &copy; Copyright 2014 -
                        <a href="{{ URLS.linkedin }}" title="LinkedIn">
                            Lucas Petherbridge
                        </a>
                    </p>

                    <nav class="footer-nav site-nav col-md-3 col-md-offset-5" role="navigation">
                        <ul class="nav-inline">
                            <li class="contact">
                                <a href="{% url 'contact' %}">Contact</a>
                            </li>
                            <li class="subscribe">
                                <a href="{% URLS.feedburner %}">Subscribe</a>
                            </li>
                        </ul>
                    </nav>
                </footer>
            </div><!-- end_row -->
        </div><!-- end_container -->
    </main>
    {{ GA_CODE|safe }}
</body>

</html>
