{% extends "base.html" %}

{% block content %}
<section id="main-section">
	<div class="container">
		<style type="text/css">
			.site-header-background {
				background-image: url("/static/images/header-bg/code-bg.png");
			}
		</style>
		<header class="site-header-outer">
			<div class="site-header-background">
				<p class="greeting">
					Hello. I'm Luke.
				</p>
			</div>
		</header>
		<p>
			I love code. This site is a tribute to code and a portfolio of my projects. It's where I write
			about things that intrigue and inspire me. Excellence in everything is rare and it is my
			hope that this site might inspire others to excellence.
		</p>
		<p>
			I'm still working on site functionality, but feel free to reach out using the
			social media links at the top-right of the page.
		</p>
	</div>
</section>
{% endblock %}
