{% extends "base.html" %}

{% block content %}
<section id="main-section">
	<div class="container">
		<header class="site-header-outer">
			<div id="index-header-background" class="site-header-background">
				<h1 class="greeting">
					Hello. I'm Luke.
				</h1>
			</div>
		</header>
		<p>
			I love code. This site is a tribute to code and a portfolio of my projects. It's where I write
			about things that intrigue and inspire me. Excellence in everything is rare and it is my
			hope that this site might inspire others to excellence.
		</p>
		<p>
			I'm still working on site functionality, but feel free to reach out using the
			social media links at the top-right of the page.
		</p>
	</div>
</section>
{% endblock %}
