{% extends "base.html" %}

{% block content %}
<section id="main-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>
					{% if search_string %}
						Search Results for <u>{{ search_string }}</u>
					{% elif category %}
						Articles about {{ category }}
					{% endif %}
				</h2>
			</div>
		</div><!-- end_row -->
		<div class="row">
			<div class="col-md-12">
				<p class="search-count">{{ count_string }}</p>

				<p>
					<!-- TODO: Factor into project-short template -->
					{% if search_string and projects %}<h3>Projects:</h3>{% endif %}
					{% for project in projects %}
						<article>
							<h4>{{ project.title }}</h4>
							<p>{{ project.summary }}
							<p>Client(s): {{ project.get_clients }}</p>
						</article>
					{% endfor %}
					<!-- TODO: Factor into article-short template -->
					{% if search_string and articles %}<h3>Articles:</h3>{% endif %}
					{% for article in articles %}
						<article>
							<h4>{{ article.title }}</h4>
							<p>{{ article.summary }}
							<p>Time to Read: {{ article.time_to_read }}</p>
							<!-- TODO Tags, Comments -->
						</article>
					{% endfor %}
				</p>
			</div>
		</div>
	</div><!-- end_container -->
</section>
{% endblock %}
