<div class="hr-grey"></div>
<div class="labels">
    {% if object.category %}
    <strong>Category:</strong> <a href="{% url 'category_search' object.category|lower|slugify %}" title="{{ object.category }} Category">{{ object.category }}</a><br>
    {% endif %}
    {% if object.tags.all %}
    <strong>Tags:</strong>
    {% for tag in object.tags.all %}
    <a href="{% url tag_search tag|lower|slugify %}" title="{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
</div>
