Django==1.6.5
Fabric==1.10.0
GitSync==0.2
GitSyncLib==0.1.4
Jinja2==2.7.2
MacFSEvents==0.4
MarkupSafe==0.18
PyYAML==3.11
South==1.0
argparse==1.2.1
autopep8==1.0.4
django-crispy-forms==1.4.0
ecdsa==0.11
journal==0.2.0
mercurial==3.0.2
nose==1.3.0
paramiko==1.15.1
pep8==1.5.7
pycrypto==2.6.1
pyflakes==0.8.1
pync==1.6.1
python-dateutil==2.2
six==1.8.0
stevedore==0.15
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
